doctype html
html(lang='en')
head
	meta(charset="utf-8")
	title 
	link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
	link(rel="stylesheet", type="text/css", href="/main.css")

body
	block content
	button.next-btn.btn-primary Next
